/* 
*   filename:     footer.css
*   description:  styling for web footer
*   @import:      global.css
*/

/* import global variables */
@import url("global.css");

/* ===================================
// Containers // Sekelton
=================================== */
.fContainer {
  background-color: var(--global-cgray);
  width: 100vw;
  min-height: 15rem;
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
  margin-bottom: -1rem;
}

/* ===================================
// Accordion
=================================== */

/* @Override mui accordion component*/
.fAccordion {
  background-color: var(--global-cgray) !important;
  outline: 0 !important;
  box-shadow: none !important;
  width: 90vw;
  margin: 0 auto;
  position: relative;
}

/* @Override mui typography component*/
.fContainer .MuiTypography-root {
  color: var(--global-cwhite) !important;
}

.fAccordionHeader {
  font-weight: bold !important;
}

/* @Override mui accordion -> svg component(s)*/
.fLinks .MuiSvgIcon-root {
  fill: var(--global-cgray-bright) !important;
}

.subscribeContainer {
  width: 85%;
  max-width: 25rem;
  margin: 0 auto;
}

/* ===================================
// Footer Bottom {Logo, Socials, Copyright}
=================================== */

#fLogo {
  width: 12rem;
  display: block;
  margin: 2.5rem auto;
  fill: var(--global-cprimary);
}

#fSocials {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 15rem;
  margin: 4rem auto 1rem auto;
}

#fb,
#ig,
#tk {
  fill: var(--global-cwhite);
}

#fb:hover,
#ig:hover,
#tk:hover {
  fill: var(--global-cprimary);
}

.fBttm p {
  text-align: center;
  color: var(--global-cwhite);
}

/* ===================================
// Footer Button(s)
=================================== */

.newsletter-btn {
  background-color: var(--global-cprimary) !important;
  color: var(--global-cgray) !important;
  font-weight: bold !important;
  margin-top: 0.5rem !important;
}

/* ===================================
// MUI Styling @override
=================================== */

/* BEFORE @Override input field outline*/
.fContainer .css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border-color: var(--global-cprimary) !important;
}
/* CLICKED @Override input highlighted // focused */
.fContainer
  .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-color: var(--global-cprimary) !important;
}

/* @Override input text */
.fContainer .css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root,
.fContainer .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  color: var(--global-cwhite) !important;
}

.fContainer .css-1sumxir-MuiFormLabel-root-MuiInputLabel-root {
  color: var(--global-cprimary) !important;
}

/* ===================================
// Responsive: @media queries
=================================== */

/* tablets/laptops */
@media (min-width: 768px) {
}

@media (min-width: 992px) {
  .fLinks {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas: "fQuicklinks fLanguages fNewsletter";
  }

  .fQuicklinks {
    grid-area: fQuicklinks;
  }

  .fLanguages {
    grid-area: fLanguages;
  }

  .fNewsletter {
    grid-area: fNewsletter;
  }
}

/* desktops */
@media (min-width: 1200px) {
}
